{% load static %}

<html>
	<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
		<title>微博可视化系统</title>
		<!-- 引入 ECharts 文件 -->
		<script src="{%static  'js/echarts.js' %}" type="text/javascript" charset="utf-8"></script>

        <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="{%static '/css/metisMenu/metisMenu.min.css'  %}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{% static '/css/sb-admin-2.css' %}" rel="stylesheet">

        <!-- Morris Charts CSS -->
        <link href="{% static '/css/morrisjs/morris.css' %}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{% static "/css/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

	</head>
	<body>


        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">微博可视化系统1.0</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{% url "sina:Search" %}"><i class="fa fa-sign-out fa-fw"></i>Logout </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="{% url 'search:wordcloud' %}"><i class="fa fa-dashboard fa-fw"></i> wordcloud</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href={% url "search:visualization" %}>Flot Charts</a>
                                </li>
                                <li>
                                    <a href="morris.html">Morris.js Charts</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="{% url "search:tables" %}"><i class="fa fa-table fa-fw"></i> Tables</a>
                        </li>




                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <!-- /#page-wrapper -->
       <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Forwarding content</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">

            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-7">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> WordCloud
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div><img src="/static/img/wordcloud.png"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->



                </div>
                <!-- /.col-lg-8 -->


            <div class="col-lg-5" >
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Pie Chart Example——(分析了部分内容)
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" >
                                <div id="chart1"style="height: 400px"></div>
                            <!-- /.list-group -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
            </div>

                </div>
                <!-- /.col-lg-4 -->

            <!-- /.row -->
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>


    <!-- Bootstrap Core JavaScript -->
    <script src="{% static '/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static '/js/metisMenu/metisMenu.min.js' %}"></script>


    <!-- Custom Theme JavaScript -->
    <script src="{%static '/js/sb-admin-2.js' %}"></script>

	</body>
</html>
<script type="text/javascript">
	// 基于准备好的容器(这里的容器是id为chart1的div)，初始化echarts实例
	var chart1 = echarts.init(document.getElementById("chart1"));
    var pie_data = {{ pie_data|safe }};
    var data1=[];
     for(i in pie_data) {

            data1.push({
             "value": pie_data[i].value,
             "name": pie_data[i].name,
         });


     }



var option = {
    title : {
        text: '微博转发内容',
        subtext: '情感善恶分析',
        x:'center'
    },
    legend: {
        orient: 'vertical',
        x: 'left',
        data:[pie_data[0].name,pie_data[1].name,pie_data[2].name]
    },
    series: [
        {
            name:'情感善恶占比',
            type:'pie',
            radius: ['30%', '40%'],
            label: {
                normal: {
                    formatter: '{a|{a}}{abg|}\n{hr|}\n  {b|{b}：}{c}  {per|{d}%}  ',
                    backgroundColor: '#eee',
                    borderColor: '#aaa',
                    borderWidth: 1,
                    borderRadius: 4,
                    rich: {
                        a: {
                            color: '#999',
                            lineHeight: 22,
                            align: 'center'
                        },

                        hr: {
                            borderColor: '#aaa',
                            width: '100%',
                            borderWidth: 0.5,
                            height: 0
                        },
                        b: {
                            fontSize: 16,
                            lineHeight: 33
                        },
                        per: {
                            color: '#eee',
                            backgroundColor: '#334455',
                            padding: [2, 4],
                            borderRadius: 2
                        }
                    }
                },
                emphasis: {
                    show: true,
                    textStyle: {
                        fontSize: '30',
                        fontWeight: 'bold'
                    }
                }
            },data:data1,
        }
    ]
};

	// 使用刚指定的配置项和数据显示图表
	chart1.setOption(option)
</script>